{% extends "layouts/base.html" %}
{% load static %}
{% block title %} {{ type }} Employee - {{ submission.last_name }}, {{ submission.first_name }} {% endblock title %}
{% load crispy_forms_tags %}
{% load anonymize %}
{% load humanize %}
{% load widget_tweaks %}
{% block content %}
  {% if employee.termination_date is not None %}
    <div id="terminated-notice" class="w-100 p-3 text-center sticky-top "><strong>Notice:</strong>This Profile is for a Terminated Employee</div>
  {% endif %}
  <div class="col-xl-8 order-xl-1">
    <div class="card">
      <div class="card-header">
        <div class="row align-items-center">
          <div class="col-8">
            <h3 class="mb-0">Employee Details - {{ employee.last_name }}, {{ employee.first_name }}
            </h3>
          </div>
        </div>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-12 mb-0">

            <h1>Personal Information</h1>
          </div>
        </div>
        <ul class="nav nav-tabs">
          <li class="nav-item">
            <a id="profile-tab" class="nav-link active" aria-current="page" href="{% url 'employee' pk=employee.employee_id %}">Profile</a>
          </li>
          <li class="nav-item">
            <a id="compliance-tab" class="nav-link" href="{% url 'staff_update_compliance' pk=employee.employee_id %}">Compliance</a>
          </li>
        </ul>
        <div class="row">
          <div class="col-4">
            <h3><strong>First Name:<br/> </strong></h3>
            <p>{{ employee.first_name }}</p>
          </div>
          <div class="col-4">
            <h3><strong>Middle Name:<br/> </strong></h3>
            <p>{{ employee.middle_name }}</p>
          </div>
          <div class="col-4">
            <h3><strong>Last Name:</strong></h3>
            <p>{{ employee.last_name }}</p>
          </div>
        </div>

        <div class="row">
          <div class="col-4">
            <h3><strong>Gender Identity:</strong></h3>
            <p>{{ employee.get_gender_display }}</p>
          </div>
          <div class="col-4">
            <h3><strong>Preferred Language:</strong></h3>
            <p>{{ employee.get_language_display }}</p>
          </div>
          <div class="col-4">
            <h3><strong>Social Security<sub>(Masked)</sub>:</strong></h3>
            <p>{{ employee.social_security | anonymize }}</p>
          </div>
        </div>
        <div class="row">
          <div class="col-4">
            <h3><strong>Racial Identity:</strong></h3>
            <p>{{ employee.get_race_display }}</p>
          </div>
          <div class="col-4">
            <h3><strong>Marital Status:</strong></h3>
            <p>{{ employee.get_marital_status_display }}</p>
          </div>
          <div class="col-4">
            <h3><strong>Education/Qualifications:</strong></h3>
            <p>{{ employee.get_qualifications_display }}</p>
          </div>
        </div>
        <hr class="my-4" />
        <div class="row">
          <div class="col-12">
            <h1>Contact Information</h1>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <h3><strong>Home Address:</strong></h3>
            <p>{{ employee.home_address }}</p>
          </div>
        </div>
        <div class="row">
          <div class="col-5">
            <h3><strong>City:</strong></h3>
            <p>{{ employee.city }}</p>
          </div>
          <div class="col-3">
            <h3><strong>State:</strong></h3>
            <p>{{ employee.state }}</p>
          </div>
          <div class="col-4">
            <h3><strong>Zipcode:</strong></h3>
            <p>{{ employee.zipcode }}</p>
          </div>
        </div>
        <hr class="my-4" />

        <div class="row">
          <h2>Emergency Contact Information</h2>
        </div>
        <div class="row">
          <div class="col-6">
            <h3><strong>First Name:</strong></h3>
            <p>{{ employee.emergency_contact_first_name }}</p>
          </div>
          <div class="col-6">
            <h3><strong>Last Name:</strong></h3>
            <p>{{ employee.emergency_contact_last_name }}</p>
          </div>
        </div>
        <div class="row">
          <div class="col-6">
            <h3><strong>Relationship:</strong></h3>
            <p>{{ employee.emergency_contact_relationship }}</p>
          </div>
          <div class="col-6">
            <h3><strong>Phone:</strong></h3>
            <p>{{ employee.emergency_contact_phone }}</p>
          </div>
        </div>
        <hr class="my-4" />
        <div class="row">
          <h2>Position Details</h2>
        </div>
        <div class="row">
          <div class="col-4">
            <h3><strong>Position:</strong></h3>
            <p>{{ compliance.get_job_title_display }}</p>
          </div>
          <div class="col-4">
            <h3><strong>Hire Date:</strong></h3>
            <p>{{ employee.hire_date }}</p>
          </div>
          <div class="col-4">
            <h3><strong>Length of Employment:</strong></h3>
            {% if employee.termination_date is None %}
              <p>{{ employee.hire_date | timesince  }}</p><em class="text-muted"><sub>- Current - </sub></em>
            {% else %}
              <p>{{ employee.hire_date | timesince:employee.termination_date   }}</p><em class="text-danger"><sub>- Final - </sub></em>
            {% endif %}
          </div>
          {% if employee.termination_date is not None %}
            <div class="col-4">
              <h3><strong>Termination Date:</strong></h3>
              <p>{{ employee.termination_date }}</p>
            </div>
          {% endif %}
        </div>
        <div class="row">
          <div class="col-4">
            <h3><strong>Related to Client:</strong></h3>
            <p>{{ employee.family_hca }}</p>
          </div>
          <div class="col-4">
            <h3><strong>GED/High School Diploma:</strong></h3>
            {% if employee.qualifications_verification %}
              <a href="{{ employee.qualifications_verification.url }}" target="_blank"><i class="fa-solid fa-file fa-2xl"></i></a>
            {% else %}
              <p>No File Available</p>
            {% endif %}
          </div>
          <div class="col-4">
            <h3><strong>CPR Verification:</strong></h3>
            {% if employee.cpr_verification %}
              <div class="center">
                <a href="{{ employee.cpr_verification.url }}" target="_blank"><i class="fa-solid fa-file fa-2xl"></i></a>
              </div>
            {% else %}
              <p>No File Available</p>
            {% endif %}
          </div>
        </div>
        <div class="row">
          <div class="col-4">
            <h3><strong>I-9</strong></h3>
            {% if employee.dhs_i9 %}
              <a href="{{ employee.dhs_i9.url }}" target="_blank"><i class="fa-solid fa-file fa-2xl"></i></a>
            {% else %}
              <p>No Signed Document Available</p>
            {% endif %}
          </div>
          <div class="col-4">
            <h3><strong>Do Not Drive Agreement</strong></h3>
            {% if employee.do_not_drive_agreement_attestation %}
              <a href="{{ employee.do_not_drive_agreement_attestation.url }}" target="_blank"><i class="fa-solid fa-file fa-2xl"></i></a>
            {% else %}
              <p>No Signed Document Available</p>
            {% endif %}
          </div>
          <div class="col-4">
            <h3><strong>IDPH Signed Background Authorization</strong></h3>
            {% if employee.idph_background_check_authorization %}
              <a href="{{ employee.idph_background_check_authorization.url }}" target="_blank"><i class="fa-solid fa-file fa-2xl"></i></a>
            {% else %}
              <p>No Signed Document Available</p>
            {% endif %}
          </div>
        </div>

        <div class="row">

          <div class="col-4">
            <h3><strong>IDOA General Policies</strong></h3>
            {% if employee.idoa_agency_policies_attestation %}
              <a href="{{ employee.idoa_agency_policies_attestation.url }}" target="_blank"><i class="fa-solid fa-file fa-2xl"></i></a>
            {% else %}
              <p>No Signed Document Available</p>
            {% endif %}
          </div>
          <div class="col-4">
            <h3><strong>HCA Job Duties </strong></h3>
            {% if employee.job_duties_attestation %}
              <a href="{{ employee.job_duties_attestation.url }}" target="_blank"><i class="fa-solid fa-file fa-2xl"></i></a>
            {% else %}
              <p>No Signed Document Available</p>
            {% endif %}
          </div>

          <div class="col-4">
            <h3><strong>Tax Witholding (w4 - State) </strong></h3>
            {% if employee.state_w4_attestation %}
              <a href="{{ employee.state_w4_attestation.url }}" target="_blank"><i class="fa-solid fa-file fa-2xl"></i></a>
            {% else %}
              <p>No Signed Document Available</p>
            {% endif %}
          </div>
        </div>
        <div class="row">

          <div class="col-4">
            <h3><strong>Tax Witholding (w4 - Federal)</strong></h3>
            {% if employee.irs_w4_attestation %}
              <a href="{{ employee.irs_w4_attestation.url }}" target="_blank"><i class="fa-solid fa-file fa-2xl"></i></a>
            {% else %}
              <p>No Signed Document Available</p>
            {% endif %}
          </div>

        </div>
      </div>

      <div class="w-full text-center">
        {% if request.user.is_superuser %}
          {% if employee.is_superuser %}
            <button id="demote-employee-btn" onclick="confirmDemoteToUser({{ employee.id }})" class="btn btn-warning" >Revoke Administrtative Privileges </button>

          {% else %}
            <button id="promote-employee-btn" onclick="confirmPromoteToAdmin({{ employee.id }})" class="btn btn-warning" >Grant Administrtative Privileges </button>
          {% endif %}
        {% endif %}
        <button id="terminate-employee-btn" class="btn btn-danger">Terminate Employment</button>

        <a  class="btn btn-secondary" href="{% url 'roster' %}">Back to Employee Roster</a>
      </div>
    </div>
  </div>
  </div>

  <form class="d-none">
    {% csrf_token %}
  </form>
  <script defer type="text/javascript">

    function confirmTermination(pk) {
      let sentData = {
        pk: pk,
        password: $('#swal2-input').val(),
        csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val()
      };

      Swal.fire({
        title: "Confirm Termination",
        showCancelButton: true,
        icon: "warning",
        confirmButtonText: "Terminate",
        html: `<p>Terry You are about to terminate employment for this employee.\n It will lock them out of their account and archive their compliance profile.</p> <p><strong>Note: </strong>Archived profiles will still have the documents available, but cannot be modified.</p>  <br/><br/><p>Please enter your CareNett password to confirm.</p>  <label for="terminate-password-confirmation" class="sr-only">Password</label> <br/><input  class="form-control" type='password' placeholder='Enter CareNett Password' id='terminate-password-confirmation' name='terminate-password-confirmation' />`,

        preConfirm: (input) => {
          console.log(`Sending Termination Request with Employee ID ${pk}`);
          try {
            var request = $.post("/employee/terminate/", sentData, (data, status) => {
              Swal.fire({
                title: "Employment Terminated!",
                icon: "success",
                text: `Employee Terminated. They have been notified via email.`,
                didClose: () => {
                  window.location.reload();
                },
              });
            });
          } catch (error) {
            Swal.showValidationMessage(`Request failed: ${error}`);
          }
        },
        allowOutsideClick: () => !Swal.isLoading(),
      });
    }
    $("#terminate-employee-btn").on('click', () -> {
      confirmTermination({{ employee.id }})
    } )
    function confirmPromoteToAdmin(pk) {
      let sentData = {
        pk: pk,
        csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val()
      };
      console.log(`Send=ing Promotion Request with Employee ID ${pk}`);

      Swal.fire({
        title: "Confirm Privileges Grant",
        text: '<p>You are about to issue enhanced CareNett Privileges for this employee.\n <strong>It will allow them to execute and access the administative functions</p></strong><br/><br/><p>Please enter your CareNett password to confirm.</p>',
        showCancelButton: true,
        icon: "warning",
        input: "password",
        confirmButtonText: "Grant",
        showLoaderOnConfirm: true,
        preConfirm: (input) => {
          if (input === "terminate") {
            try {
              var request = $.post("/employee/terminate/", sentData, (data, status) => {
                Swal.fire({
                  title: "Employment Terminated!",
                  icon: "success",
                  text: `Employee Terminated. They have been notified via email.`,
                  didClose: () => {
                    window.location.reload();
                  },
                });
              });
            } catch (error) {
              Swal.showValidationMessage(`Request failed: ${error}`);
            }
          } else {
            Swal.showValidationMessage(
              'Please type enter CareNett Password'
            );
          }
        },
        allowOutsideClick: () => !Swal.isLoading(),
      });
    }

  </script>
{% endblock content %}
