{% extends "layouts/base.html" %}
{% load static %}
{% block title %} {{ type }} Employee - {{ submission.last_name }}, {{ submission.first_name }} {% endblock title %}
{% load crispy_forms_tags %}
{% load anonymize %}
{% load humanize %}
{% load widget_tweaks %}
<link rel="stylesheet" href="{% static 'css/custom-portal-styles.css' %}" type="text/css"/>


{% block content %}
  {% if employee.termination_date is not None %}
    <div id="terminated-notice" class="w-100 p-3 text-center sticky-top "><strong>Notice:</strong>This Profile is for a Terminated Employee</div>
  {% endif %}
  <div class="col-xl-8 order-xl-1">
    <div class="card">
      <div class="card-header">
        <div class="row align-items-center">
          <div class="col-8">
            <h3 class="mb-0">Employee Details - {{employee.last_name}}, {{employee.first_name}}
              <a href={% url 'applicant-details' pk=employee.application_id %><em><sub>Link to Employment Applicatiom</sub></a></em>
            </h3>
          </div>
        </div>
      </div>
    {% if form.errors %}
      <div id="form-errors">
        <ul class="form-errors-list">
          <p class="form-error-header">Please correct the errors below and resubmit...</p>
          {% for field, errors in form.errors.items %}
            `              {% for error in errors %}
              <li class="form-error">{{ error }}</li>
            {% endfor %}
            </ul>
          {% endfor %}
        </div>
    {% endif %}
      <div class="card-body">
        <div class="row">
          <div class="col-12 mb-0">
            
            <h1>Personal Information</h1>
          </div>
        </div>

        <div class="row">
          <div class="col-4">
            <h3><strong>First Name:<br/> </strong></h3>
            <p>{{ employee.first_name }}</p>
          </div>
          <div class="col-4">
            <h3><strong>Middle Name:<br/> </strong></h3>
            <p>{{ employee.middle_name }}</p>
          </div>
          <div class="col-4">
            <h3><strong>Last Name:</strong></h3><br/>
            <p>{{ employee.last_name }}</p>
          </div>
        </div>

        <div class="row">
          <div class="col-4">
            <h3><strong>Gender Identity:</strong></h3>
            <p>{{ employee.get_gender_display }}</p>
          </div>
          <div class="col-4">
            <h3><strong>Preferred Language:</strong></h3>
            <p>{{ employee.get_language_display }}</p>
          </div>
          <div class="col-4">
            <h3><strong>Social Security<sub>(Masked)</sub>:</strong></h3>
            <p>{{ employee.social_security | anonymize }}</p>
          </div>
        </div>
        <div class="row">
          <div class="col-4">
            <h3><strong>Racial Identity:</strong></h3>
            <p>{{ employee.get_race_display }}</p>
          </div>
          <div class="col-4">
            <h3><strong>Marital Status:</strong></h3>
            <p>{{ employee.get_marital_status_display }}</p>
          </div>
          <div class="col-4">
            <h3><strong>Education/Qualifications:</strong></h3>
            <p>{{ employee.get_qualifications_display }}</p>
          </div>
        </div>
        <hr class="my-4" />
        <div class="row">
          <div class="col-12">
            <h1>Contact Information</h1>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <h3><strong>Home Address:</strong></h3>
            <p>{{ employee.home_address }}</p>
          </div>
        </div>
        <div class="row">
          <div class="col-5">
            <h3><strong>City:</strong></h3>
            <p>{{ employee.city }}</p>
          </div>
          <div class="col-3">
            <h3><strong>State:</strong></h3>
            <p>{{ employee.state }}</p>
          </div>
          <div class="col-4">
            <h3><strong>Zipcode:</strong></h3>
            <p>{{ employee.zipcode }}</p>
          </div>
        </div>
        <hr class="my-4" />

        <div class="row">
          <h2>Emergency Contact Information</h2>
        </div>
        <div class="row">
          <div class="col-6">
            <h3><strong>First Name:</strong></h3>
            <p>{{ employee.emergency_contact_first_name }}</p>
          </div>
          <div class="col-6">
            <h3><strong>Last Name:</strong></h3>
            <p>{{ employee.emergency_contact_last_name }}</p>
          </div>
        </div>
        <div class="row">
          <div class="col-6">
            <h3><strong>Relationship:</strong></h3>
            <p>{{ employee.emergency_contact_relationship }}</p>
          </div>
          <div class="col-6">
            <h3><strong>Phone:</strong></h3>
            <p>{{ employee.emergency_contact_phone }}</p>
          </div>
        </div>
        <hr class="my-4" />
        <div class="row">
          <form>
            {% csrf_token %}
           {% crispy compliance_form %}
          <h2>Position Details</h2>
        </div>
        <div class="row">

          <div class="col-4">
            <h3><strong>Hire Date:</strong></h3>
            <p>{{ employee.hire_date }}</p>
          </div>

          <div class="col-4">
            <h3><strong>Length of Employment:</strong></h3>
            {% if employee.termination_date is None %}
              <p>{{ employee.hire_date|naturalday }}</p>
            {% comment %} {% else %} {% endcomment %}
            {% comment %} FIXME: Correct te Calculkation of Length if Employment Possible Tag {% endcomment %}
            {% comment %} {{employee.termination_date - employee.hire_date}} {% endcomment %}
            {% endif %}
          </div>
          {% if employee.termination_date is not None %}
            <div class="col-4">
              <h3><strong>Termination Date:</strong></h3>
              <p>{{ employee.termination_date }}</p>
            </div>
          {% endif %}
        </div>
        <div class="row">
          <div class="col-4">
            <h3><strong>Related to Client:</strong></h3>
            <p>{{ employee.family_hca }}</p>
          </div>
          <div class="col-4">
            <h3><strong>GED/High School Diploma:</strong></h3>
            {% if employee.qualifications_verification %}
            <a href={{ employee.qualifications_verification.url }} target="_blank"><p>{{ employee.qualifications_verification.name }}</p></a>
            {% else %}
              <p>No File Available</p>
            {% endif %}
          </div>
          <div class="col-4">
            <h3><strong>CPR Verification:</strong></h3>
            {% if employee.cpr_verification %}
            <div class="center">
            <a href={{ employee.cpr_verification.url }} target="_blank"><i class="fa-solid fa-file fa-2xl"></i></a>
            </div>
            {% else %}
              <p>No File Available</p>
            {% endif %}
          </div>
        </div>
        <div class="row">
          <div class="col-6">
            <label for="job_title" class="form-check-label">Agency Job Tile</label>
            {% render_field compliance_form.job_title  class="form-control" %}
          </div>
            <div class="col-6">
              <label for="contract_code" class="form-check-label">Contract Code</label>
              {% render_field compliance_form.contract_code  class="form-control" %}
            </div>
          </div>
            <hr class="my-4" />
        <div class="row">
          <h2>Regulatory and Compliance</h2>
        </div> 
        <div class="row">'
          <div class="col-4">
          <label for="aps_check_passed" class="f  orm-check-label">APS Background Check Passed?</label>
          {% render_field compliance_form.aps_check_passed  class="form-control" %}
          </div>
      </div>
      <div class="w-full text-center">
        {% if request.user.is_superuser %}
          <button id="terminate-employee-btn" onclick="confirmTermination({{ employee.id }})" class="btn btn-danger" >Terminate Employment</button>
        {% endif %}
        <a  class="btn btn-secondary" href="{% url 'roster' %}">Back to Employee Roster</a>
      </div>
    </div>
  </div>

{% endblock content %}

<!-- Specific JS goes HERE -->
{% block javascripts %}
  if()
{% endblock javascripts %}
