{% extends "layouts/base.html" %}
{% load static %}
{% block title %} {{ type }} Employee - {{ submission.last_name }}, {{ submission.first_name }} {% endblock title %}
{% load crispy_forms_tags %}
{% load anonymize %}
{% load humanize %}
<link rel="stylesheet" href="{% static 'css/custom-portal-styles.css' %}" type="text/css"/>


{% block content %}
    {% if employee.termination_date is not None %}
        <div id="terminated-notice" class="w-100 p-3 text-center sticky-top "><strong>Notice:</strong>This Profile is for a Terminated Employee</div>
    {% endif %}
    <div class="col-xl-8 order-xl-1">
        <div class="card">
            <div class="card-header">
                <div class="row align-items-center">
                    <div class="col-8">
                        <h3 class="mb-0">Uploaded Documents - Employee Details - {{employee.last_name}}, {{employee.first_name}}
                        </h3>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-12 mb-0">
                        <h1>Documents</h1>
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="table align-items-center table-flush table-hovere">
                        <thead class="thead-light">
                            <tr>
                                <th scope="col" class="sort" data-sort="type">Type</th>
                                <th scope="col" class="sort" data-sort="upload-date">Upload Date</th>
                                <th scope="col" class="sort" data-sort="link">Link to Filew</th>
                            </tr>
                        </thead>
                        <tbody class="list">
                            <tr>
                                <th scope="row">
                                    <div class="media align-items-center">
                                        <div class="media-body">
                                            <strong>Resume/Qualifications</strong>
                                        </div>
                                    </div>
                                </th>
                                <td class="upload-date">
                                    {% if employee.qualifications_verification %}
                                        {{ employee.qualifications_verification.get_created_time | naturalday }}
                                    {% else %}
                                        <strong>N/A</strong>
                                    {% endif %}
                                </td>
                                <td class="upload-date">
                                    {% if employee.qualifications_verification %}
                                        <a href={{ employee.qualifications_verification.url }} target="_blank"><i class="fa-solid fa-file fa-xl" ></i></a>
                                    {% else %}
                                        <strong>Not Provided</strong>
                                    {% endif %}
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">
                                    <div class="media align-items-center">
                                        <div class="media-body">
                                            <strong>CPR Verification</strong>
                                        </div>
                                    </div>
                                </th>
                                <td class="upload-date">
                                    {% if employee.cpr_verification %}
                                        {{ employee.cpr_verification.get_created_time | naturalday }}
                                    {% else %}
                                        <strong>N/A</strong>
                                    {% endif %}
                                </td>
                                <td class="upload-date">
                                    {% if employee.cpr_verification %}
                                        <a href={{ employee.cpr_verification.url }} target="_blank"><i class="fa-solid fa-file fa-xl" ></i></a>
                                    {% else %}
                                        <strong>Not Provided</strong>
                                    {% endif %}
                                </td>
                                <tr>
                                    <th scope="row">
                                        <div class="media align-items-center">
                                            <div class="media-body">
                                                <strong>=APS Background Check</strong>
                                            </div>
                                        </div>
                                    </th>
                                    <td class="upload-date">
                                        {% if compliance.aps_check_verification %}
                                            {{ employee.aps_check_verification.get_created_time | naturalday }}
                                        {% else %}
                                            <strong>N/A</strong>
                                        {% endif %}
                                    </td>
                                    <td class="upload-date">
                                        {% if employee.aps_check_verification %}
                                            <a href={{ employee.aps_check_verification.url }} target="_blank"><i class="fa-solid fa-file fa-xl" ></i></a>
                                        {% else %}
                                            <strong>Not Provided</strong>
                                        {% endif %}
                                    </td>
                                </tr>

{% endblock content %}

<!-- Specific JS goes HERE -->
{% block javascripts %}
    if()
{% endblock javascripts %}
