{% extends "layouts/base-fullscreen.html" %}
{% load account %}
{% user_display user %}
{% load widget_tweaks %}
{% load i18n %}
{% load allauth %}
<
{% block title %} CareNett Email Confirmation  {% endblock title %}
{% block content %}
    <!-- Page content -->
    <div class="container mt--8 pb-5">
        <div class="row justify-content-center">
            <div class="col-lg-5 col-md-7">
                <div class="card bg-secondary shadow border-0">
                    <div czlass="card-header bg-transparent pb-5">
                        <div class="text-muted text-center mt-2 mb-3">
                            <h1>CareNett Employee Portal</h1>
                            <h2>Email Confirmation</h2>
                        </div>
                    </div>
                    <div class="card-body px-lg-5 py-lg-5">
                        <div class="text-center text-muted mb-4">
                            {% if confirmation %}
                                {% user_display confirmation.email_address.user as user_display %}
                                {% if can_confirm %}
                                    <p>
                                        {% blocktrans with confirmation.email_address.email as email %}Please confirm that <a href="mailto:{{ email }}">{{ email }}</a> is an email address for user {{ user_display }}.{% endblocktrans %}
                                    </p>
                                    {% url 'account_confirm_email' confirmation.key as action_url %}
                                    {% element form method="post" action=action_url %}
                                        {% slot actions %}
                                            {% csrf_token %}
                                            <button class="btn btn-success" type="submit"  value="Confirm">Confirm Email</button>

                                        {% endslot %}
                                    {% endelement %}
                                {% else %}
                                    <p>
                                        {% blocktrans %}Unable to confirm {{ email }} because it is already confirmed by a different account.{% endblocktrans %}
                                    </p>
                                {% endif %}
                            {% else %}
                                {% url 'account_email' as email_url %}
                                <p>
                                    {% blocktrans %}This email confirmation link expired or is invalid. Please <a href="{{ email_url }}">issue a new email confirmation request</a>.{% endblocktrans %}
                                </p>
                            {% endif %}
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
{% endblock content %}
