{% extends "layouts/base-fullscreen.html" %}
{% load allauth %}
{% load account %}
{% user_display user %}
{% load widget_tweaks %}
{% load allauth i18n %}
{% block title %}
    Passeword Change
{% endblock title %}
<!-- Specific CSS goes HERE -->
{% block content %}
    <div class="container mt--8 pb-5">
        <div class="row justify-content-center">
            <div class="col-lg-5 col-md-7">
                <div class="card bg-secondary shadow border-0">
                    <div class="card-header bg-transparent pb-2">
                        <div class="text-muted text-center mt-2 mb-3">
                            <h2>Change Password</h2>
                            <ol class="text-left">
                                <li>Enter your current password</li>
                                <li>
                                    Enter your new desired password
                                    <br>
                                    <sub class="text-muted">Please reference password requirements</sub>
                                </li>
                            </ol>
                            {% if form.errors %}
                                <h3 class="text-danger">Please Correct The Following Errors:</h3>
                                <ul class="messages">
                                    {% for field, errors in form.errors.items %}
                                        {% for error in errors %}<li class="red">{{ error }}</li>{% endfor %}
                                    </ul>
                                {% endfor %}
                                <hr class="my-4" />
                            {% endif %}
                        </div>
                    </div>
                    <div class="card-body px-lg-5 py-lg-5">
                        <div class="text-center text-muted mb-4">
                            {% if user.is_authenticated %}
                                {% if first_login %}
                                    <strong>
                                        <h3>Welcome to CareNett!</h3>
                                    </strong>
                                    <p>Your Nett Hands Home Care Caregiver Portal!</p>
                                    <p>
                                        This is your first time logging in, so let's make CareNett feel like home.
                                        <br>
                                        How about we start by updating your password?
                                        <br>
                                        It's all about making your experience here as comfortable as possible!"
                                    </p>
                                {% elif aged_password %}
                                    <strong>
                                        <h3>Your Password is Expired!</h3>
                                    </strong>
                                    <p>Please enter a new password</p>
                                {% endif %}
                                {% csrf_token %}
                                <form method="post" action='{% url "account_change_password" %}'>
                                    {% csrf_token %}
                                    {% render_field form.oldpassword placeholder="Current Password" type="password" class="form-control mb-4" id="id_oldpassword" name="oldpassword" %}
                                    <h4>Password Requirements</h4>
                                    <ul>
                                        <li>Your password can’t be too similar to your other personal information.</li>
                                        <li>Your password must contain at least 8 characters.</li>
                                        <li>Your password can’t be a commonly used password.</li>
                                        <li>Your password can’t be entirely numeric.</li>
                                    </ul>
                                    {% render_field form.password1 type="password" name="password1" class="form-control" placeholder="New Password" required=true id="id_password1" %}
                                    {% render_field form.password2 type="password" name="password2" class="form-control" placeholder="Confirm New Password" required=true id="id_password2" %}
                                    <div class="row  mt-3 justify-content-center">
                                        <div class="col-6">
                                            <input class="btn btn-primary mr-2" type="submit" value="Change Password" />
                                        </div>
                                        <div class="col-6">
                                            <a href="{% url 'account_reset_password' %}" class="btn btn-danger">Forgot Current Password</a>
                                        </div>
                                    </div>
                                </form>
                            {% else %}
                                <strong>
                                    <h3>
                                        <a href="{% url 'account_login' %}">Please Login</a>
                                    </h3>
                                </strong>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
