{% load static %}

<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="description" content="Professional in-home care with screened staff. Enjoy comfort and peace of mind with Nett Hands Home Care.">
        <meta name="keywords" content="Medicare, Medicaid, Home, Health, Care, Chicago, Cook County, Kane County, Will County, state, approved, high pay">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" type="image/x-icon" href="{% static 'img/favicon.png' %}">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        {% block title %}
        {% endblock title %}
        <!-- Google Tag Manager -->
        <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
            new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
                                                      j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
                'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        })(window,document,'script','dataLayer','GTM-KDJGJK2B');</script>
    <!-- End Google Tag Manager -->
    <!-- Google Font -->
        <link href="https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;500;600;700&display=swap"
              rel="stylesheet">

    <!-- Css Styles Partial Import -->
        {% include "includes/styles.html" %}

        {% block customstyles %}
        {% endblock customstyles %}
        {% block custom_js %}
        {% endblock custom_js %}
    </head>
    <body>

        <!-- Google Tag Manager (noscript) -->
        <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KDJGJK2B"
                          height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    <!-- Page Preloder -->
        <script>

        </script>
        <div class="loader-wrapper" id="loader-3" style="display: inherit; background-color:black;">
            <div id="loader"></div>
            <div id="loader"></div>
            <div id="loader"></div>
            <div id="loader"></div>
            <div id="loader"></div>
        </div>


        <div id="body-hide" class="animate__animated animate__slower animate__fadeIn" style="display:none;">
    <!-- Header Section Begin -->
            <header class="header" style="position: absolute;">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-4 col-lg-2 col-3">.
                            <div class="navbar-brand">

                                {% if title == "Home" %}
                                    <a href="{% url 'web:home' %}"><img src="https://nhhc.b-cdn.net/staticfiles/img/logo-dark.png" alt="LOGO"></a>
                                    </div>
                                    </div>
                                    <div class="col-lg-10">
                                        <div class="header__nav__option">
                                            <nav class="header__nav__menu mobile-menu">
                                                <ul>
                                                    <li class="active"><a href="{% url 'web:home' %}">Home</a></li>
                                                    <li><a href="{% url 'web:about_us' %}">About Nett Hands</a></li>
                                                    <li><a href="#impact">Our Impact</a></li>
                                                    <li><a href="#services">Services</a>
                                                    </li>
                                                    <li><a href="#careers">Careers</a>
                                                        <ul class="dropdown">
                                                            <li><a href="{% url 'web:employment_application_form' %}">Employee Interest Application</a></li>
                                                            <li><a href="{% url 'account_login' %}">Employee Portal</a></li>
                                                        </ul>
                                                    </li>
                                                    <li><a href="#contact">Contact</a></li>
                                                </ul>
                                            </nav>

                                {% else %}
                                    <a href="{% url 'web:home' %}"><img src="https://nhhc.b-cdn.net/staticfiles/img/logo-light.png" alt=""></a>
                                    </div>
                                    </div>
                                    <div class="col-lg-10">
                                        <div class="header__nav__option">
                                            <nav class="header__nav__menu mobile-menu">
                                                {% if request.path != "/maintenance/"  %}
                                                    <ul>
                                                        <li class="active"><a href="{% url 'web:home' %}"><span class="back-to-home">Back to Home</span></a></li>
                                                    </ul>
                                                {% endif %}

                                {% endif %}

                            </nav>

                        </div>
                    </div>
                </div>
                <div id="mobile-menu-wrap"></div>
            </div>
        </header>
        <body>
            {% block main %}

            {% endblock main %}
        </body>
        <footer class="footer">
            <div class="container">
                <div class="footer__top">
                    <div class="row">
                        <div id="contact" class="col-lg-12">
                            <div class="section-title team__title">
                                <h2>Contact Nett Hands</h2>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6 col-md-6">
                                <div class="contact__map">
                                    <iframe
                                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2985.507413816526!2d-87.67136422382298!3d41.558261585378624!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x880e18681a524705%3A0xce98796e8e34aa0c!2sNett%20Hands%20Home%20Care!5e0!3m2!1sen!2sus!4v1687550532047!5m2!1sen!2sus"
                                        width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy"
                                        referrerpolicy="no-referrer-when-downgrade"></iframe>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6">
                                <div class="contact__widget__item">
                                    <div class="contact__widget__item__icon">
                                        <i class="fa fa-envelope"></i>
                                    </div>
                                    <div class="contact__widget__item__text">
                                        <h4>Email</h4>
                                        <p><a href="mailto:info@netthandshome.care">info@netthandshome.care</a></p>
                                    </div>
                                </div>
                                <div class="contact__widget__item">
                                    <div class="contact__widget__item__icon">
                                        <i class="fa fa-phone"></i>
                                    </div>
                                    <div class="contact__widget__item__text">
                                        <h4>Phone </h4>
                                        <p><a href="tel:+17089917105">(708) 991-7105</a></p>
                                    </div>
                                </div>
                                <div class="contact__widget__item">
                                    <div class="contact__widget__item__icon">
                                        <i class="fa fa-map-marker"></i>
                                    </div>
                                    <div class="contact__widget__item__text">
                                        <h4>Address</h4>
                                        <p>16643 Kedzie Ave <br/> Markham, IL 60428</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="footer__option">
                    <div class="row">
                        <div class="col-lg-4 col-md-6 col-sm-6">
                            <div class="footer__option__item">
                                <h5>About us</h5>
                                <p>Nett Hands Home Care is a State of Illinois Department of Public Health licensed home health care agency. We are bonded and insured. All of our in-home care providers are extremely understanding, skilled and experienced in caring for you in the comfort of your home. Serving the entire Chicagoland area, Cook County and surrounding
                                    suburban counties.</p>
                                <a href="{% url 'web:about_us' %}" class="read__more">Read more <span class="arrow_right"></span></a>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-3 col-sm-3">
                            <div class="footer__option__item">
                                <h5>Quick Links</h5>
                                <ul>
                                    <li><a href="{% url 'web:employment_application_form' %}">Employment Application</a></li>
                                    <li><a href="{% url 'web:client_interest_form' %}">Client Interest Form</a></li>
                                    <li class="disabled"><a href="{% url 'account_login' %}">Employee Portal</a></li>
                                </ul>
                                <br>

                            </div>
                        </div>
                        <div class="col-lg-2 col-md-3 col-sm-3">
                            <div class="footer__option__item">
                                <h5>Our Services</h5>
                                <ul>
                                    <li><a href="#services">Intermittent Home Care</a></li>
                                    <li><a href="#services">Non-Medical Home Care</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="footer__copyright">
                    <div class="row">
                        <div class="col-lg-12 text-center">
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                            <p class="footer__copyright__text">Copyright &copy;
                                <script>
                                    document.write(new Date().getFullYear());
                                </script>
                            </p>
                            <img id="blackberry-py-logo" alt="develper-logo"
                                 src="https://cdn.jsdelivr.net/gh/Terry-BrooksJr/MindHealthCDN@29bc6662f28312e838bbfad943be62691705f062/images/BBerry-pY.png">
                            <p> Created and Maintained by <a target="_blank" href="https://www.brooksjr.com">Blackberry-Py Development</a>
                            </p>
                            <iframe src="https://status.netthandshome.care/badge?theme=dark" width="250" height="30" frameborder="0" scrolling="no"></iframe>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    <!-- Footer Section End -->
    </div>
    <!-- Js Plugins -->
    {% include 'includes/scripts.html' %}
    {% block customscripts %}
    {% endblock customscripts %}
</body>

</html>
