<nav class="navbar navbar-top navbar-expand navbar-dark bg-primary border-bottom">
  <div class="container-fluid ">
    <div class="flex flex-row">
      <h3 id="home-time" class="timer"></h3>
    </div>
    <div class="collapse navbar-collapse flex-row-reverse " id="navbarSupportedContent">
      <h3>{% now "F jS, Y" %}</h3>

      <!-- Navbar links -->
      <div class="media align-items-center">
        <div class="dropdown">
          <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            {{ request.user.last_name }}, {{ request.user.first_name }}
          </button>
          <ul class="dropdown-menu  dropdown-menu-right ">
            <div class="dropdown-header noti-title">
              <h6 class="text-overflow text-center m-0">Welcome, {{ request.user.first_name }}!</h6>
            </div>
            <div class="dropdown-divider"></div>
            <li id="nav-profile"><a href="{% url 'profile' %}" class="dropdown-item">
              <i class="ni ni-single-02"></i>
              <span>Profile</span>
            </a></li>
            <li id="nav-profile"><a href="{% url 'account_reset_password' %}" class="dropdown-item">
              <i class="ni ni-key-25"></i>
              <span>Change Password</span>
            </a></li>
            <li id="nav-logout"><a href="{% url 'account_logout' %}" class="dropdown-item">
              <i class="ni ni-user-run text-red"></i>
              <span>Logout</span>
            </a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</nav>
<!-- Specific JS goes HERE -->
<script>
// SECTION - Date and Time For Portal Homepage
  function liveClock(){
    var portalTimeNode = document.getElementById("home-time");
    var DATE = new Date();
    const current_time = new Date().toLocaleTimeString();
    portalTimeNode.innerHTML = current_time
  }
  setInterval(liveClock, 1000);
</script>
