{% load static %}
{% comment %} JQuery Dependcnecies  {% endcomment %}
<script src="{% static '/js/jquery-3.3.1.min.js' %}"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.5/jquery.validate.min.js" ></script>
<script src="{% static 'js/jquery.magnific-popup.min.js' %}" ></script>
<script src="{% static '/js/jquery.slicknav.js' %}" defer></script>
<script src="{% static '/vendor/js-cookie/js.cookie.js' %}" ></script>
<script type="application/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tilt.js/1.0.3/tilt.jquery.min.js" integrity="sha512-14AZ/DxUrlF26z6v7egDkpJHKyJRn/7ue2BgpWZ/fmqrqVzf4PrQnToy99sHmKwzKev/VZ1tjPxusuTV/n8CcQ==" crossorigin="anonymous" referrerpolicy="no-referrer" ></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-scroll-lock/3.1.3/jquery-scrollLock.min.js" integrity="sha512-HEj/ukMkeKhVtQB7F+j1VipZ8ZoX15Ubi/RP7fI89pCNPY1gWqNFxivS93X7X3Esk1bKANZsj9Uemd7hDUA0mw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>


<script src="{% static '/js/bootstrap.min.js' %}" defer></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/uikit@3.17.11/dist/js/uikit.min.js" defer></script>
<script src="https://cdn.jsdelivr.net/npm/uikit@3.17.11/dist/js/uikit-icons.min.js" defer></script>
<script src="https://kit.fontawesome.com/58e27c88da.js" crossorigin="anonymous" async></script>




<script src="{% static '/js/mixitup.min.js' %}" defer></script>
<script src="{% static '/js/masonry.pkgd.min.js' %}" defer></script>
<script src="{% static '/js/owl.carousel.min.js' %}" defer></script>
<script src="{% static '/js/argon.js' %}" defer></script>
<script src="{% static 'js/pagination.js' %}" defer></script>
<script src="{% static '/js/main.js' %}" defer></script>
<script src="{% static '/js/custom-scripts.js' %}" defer></script>

{% if showSearch %}
  <script src="{% static '/js/search.js' %}" async></script>
{% endif %}
