__pycache__
*.pyc
*.pyo
*.pyd
.Python
env
pip-log.txt
pip-delete-this-directory.txt
.tox
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.log
.git
.mypy_cache
.pytest_cache
.hypothesis
*.sql
NettHandsHomeCare/node_modules/*
NettHandsHomeCare/static/vendor/jvectormap-next/jquery-jvectormap.min.js.map
*/credentials.json
*.sql
*.sqlite3
nhhc/logs/*
