[Unit]
Description=Prometheus Node Exporter Metric Exporter Service
Documentation=https://github.com/prometheus/node_exporter
After=network-online.target

[Service]
Type=simple
User=nodeExportrer
Group=workerGroup
ExecStart=/usr/bin/node_exporter
Restart=on-failure
RestartSec=5


[Install]
WantedBy=multi-user.target
