amqp
anyio
arrow
asgiref
astroid
attrs
backoff
bandit
beautifulsoup4
billiard
black
boto3
botocore
Brotli
build
CacheControl
celery
Cerberus
certifi
cffi
cfgv
chardet
charset-normalizer
cleo
click
click-didyoumean
click-plugins
click-repl
colorama
coverage
crashtest
crispy-bootstrap5==2023.10
cron-descriptor
cryptography
cssbeautifier
cssselect2
defusedxml
Deprecated==1.2.14
dill
distlib
Django==5.0.3
django-admin-env-notice
django-allauth
django-anymail
django-appconf
django-bunny
django-celery-beat
django-celery-results
django-cors-headers
django-crispy-forms==2.1
django-debug-toolbar
django-defender
django-discover-runner==1.0
django-extensions
django-filter==23.5
django-formset
django-health-check
django-ip-restriction
django-ipware
django-jazzmin
django-localflavor==4.0
django-loguru
django-mail-panel
django-pgcrypto
django-pgcrypto-fields
django-phonenumber-field
django-progressbarupload
django-prometheus
django-recaptcha
django-redis
django-redis-cache
django-referrer-policy==1.0
django-request
django-robots==6.1
django-sage-encrypt
django-smtp-ssl==1.0
django-storages
django-timezone-field
django-tinymce
django-weasyprint
django-webtest==1.9.11
django-widget-tweaks
djangorestframework
djhtml
djlint
docutils
dodgy
doppler-env
dulwich
EditorConfig
factory-boy
Faker
fastjsonschema
filelock
filemagic
filetype
flake8
flake8-polyfill
flower
fonttools
gitdb
GitPython
googleapis-common-protos
grpcio
gunicorn
h11
highlight-io
hiredis
html-tag-names
html-void-elements
html5lib
httpcore
httpx
humanize
identify
idna
importlib-metadata
iniconfig
installer
isort
jaraco.classes
Jinja2
jmespath
jsbeautifier
json5
keyring
kolo
kombu
lazy-object-proxy
libmagic
logtail-python
loguru
Markdown
markdown-it-py
MarkupSafe
mccabe
mdurl
mock
model-bakery
more-itertools
msgpack
mypy
mypy-extensions
nodeenv
oauthlib
opentelemetry-api
opentelemetry-distro
opentelemetry-exporter-otlp
opentelemetry-exporter-otlp-proto-common
opentelemetry-exporter-otlp-proto-grpc
opentelemetry-exporter-otlp-proto-http
opentelemetry-instrumentation
opentelemetry-instrumentation-logging
opentelemetry-instrumentation-requests
opentelemetry-proto
opentelemetry-sdk
opentelemetry-semantic-conventions
opentelemetry-util-http
packaging
pathspec
pbr
pep8-naming
pexpect
phonenumberslite
pillow
pkginfo
platformdirs
pluggy
poetry
poetry-core
poetry-plugin-export
pre-commit
prometheus_client
prompt_toolkit
prospector
protobuf
psycopg2-binary
ptyprocess
pycodestyle
pycparser
pydocstyle
pydyf
pyenchant
pyflakes
Pygments
PyJWT
pylint
pylint-celery==0.3
pylint-django
pylint-flask==0.6
pylint-plugin-utils==0.7
PyMuPDF
PyMuPDFb
pyOpenSSL
pyphen
pyproject_hooks
pyright
pyroma
PySocks
pytest
pytest-django
python-crontab
python-dateutil
python-dotenv
python-gnupg
python-magic
python-stdnum
python3-openid
pytz
PyYAML
rapidfuzz
redis
regex
reportlab
requests
requests-oauthlib
requests-toolbelt
requirements-detector
rich
s3transfer
selenium
semver
setoptconf-tmp
shellingham
six
smmap
sniffio
snowballstemmer
sortedcontainers
soupsieve==2.5
sqlglot
sqlparse
stevedore
supervisor
tabulate
tblib
tinycss2
toml
tomlkit
toolz
tornado
tqdm
trio
trio-websocket
trove-classifiers
types-python-dateutil.20240316
typing_extensions
tzdata
ulid-py
urllib3
vine
virtualenv
vulture==2.11
waitress
wcwidth==0.2.13
weasyprint==61.2
webencodings
WebOb
WebTest
Werkzeug
whitenoise
wrapt
wsproto
xattr
zipp
zopfli
dj_database_url
guardian
asgiref
boto3
botocore
cachetools
certifi
charset-normalizer
click
colorama
crispy-bootstrap4
cssbeautifier
Django
django-admin-env-notice
django-cors-headers
django-crispy-forms
django-ip-restriction
django-ipware
django-localflavor
django-phonenumber-field
django-recaptcha
django-require-login
djlint
EditorConfig
google-api-core
google-api-python-client
google-auth
google-auth-httplib2
google-cloud-core
google-cloud-storage
google-crc32c
google-resumable-media
googleapis-common-protos
gunicorn
html-tag-names
html-void-elements
httplib2
idna==3.7
jmespath
jsbeautifier
json5==0.9.14
loguru
packaging==24.0
pathspec
phonenumberslite==8.13.17
protobuf
psycopg2-binary
pyasn1
pyasn1-modules
pyparsing
python-dateutil
python-dotenv
python-stdnum==1.18
pytz
pytzdata
PyYAML
regex
requests
rsa==4.9
s3transfer
six
sqlparse
supervisor
tqdm
uritemplate
urllib3==1.26.19
whitenoise
