{% extends "layouts/base-fullscreen.html" %}
{% load allauth %}
{% load account %}
{% user_display user %}
{% load widget_tweaks %}


{% block title %} Passeword Change {% endblock title %}

<!-- Specific CSS goes HERE -->

{% block content %}
  <div class="container mt--8 pb-5">
    <div class="row justify-content-center">
      <div class="col-lg-5 col-md-7">
        <div class="card bg-secondary shadow border-0">
          <div class="card-header bg-transparent pb-5">
            <div class="text-muted text-center mt-2 mb-3">
              <h2>Change Password</h2>
            </div>
          </div>
          <div class="card-body px-lg-5 py-lg-5">
            <div class="text-center text-muted mb-4">
              {% if user.is_authenticated %}
                {% if first_login %}
                <strong><h3>Welcome to CareNett!</h3></strong> 
                <p>Your Nett Hands Home Care Caregiver Portal! </p> 
                  <p>
                    This is your first time logging in, so let's make CareNett feel like home. <br> How about we start by updating your password? <br> It's all about making your experience here as comfortable as possible!"
                  </p>
                {% endif %}
                {% csrf_token %}
<form>
  {% render_field form.id_oldpassword placeholder="Old Password" class="form-control mb-3" id="email" name="email" %}

</form> 
                <div class="row justify-content-center">
                  <input class="btn btn-primary" type="submit" value="Change Password"/>
                  <a href="{% url 'account_reset_password' %}" class="btn btn-danger">Forgot Current Password</a>
                </div>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock content %}



{% extends "account/base_manage_password.html" %}
{% load allauth i18n %}
{% block head_title %}
  {% trans "Change Password" %}
{% endblock head_title %}
{% block content %}
  {% element h1 %}
    {% trans "Change Password" %}
  {% endelement %}
  {% url 'account_change_password' as action_url %}
  {% element form form=form method="post" action=action_url %}
    {% slot body %}
      {% csrf_token %}
      {% element fields form=form %}    <!-- 'fields' is a custom template tag -->
      {% endelement %}
    {% endslot %}
    {% slot actions %}
      {% element button type="submit" %}
        {% trans "Change Password" %}
      {% endelement %}
    {% endslot %}
  {% endelement %}
{% endblock content %}