{% extends "layouts/base-fullscreen.html" %}
{% load allauth %}
{% load account %}
{% user_display user %}
{% load widget_tweaks %}

{% block title %} Password Reset {% endblock title %}

<!-- Specific CSS goes HERE -->

{% block content %}
  <div class="container mt--8 pb-5">
    <div class="row justify-content-center">
      <div class="col-lg-5 col-md-7">
        <div class="card bg-secondary shadow border-0">
          <div class="card-header bg-transparent pb-5">
            <div class="text-muted text-center mt-2 mb-3">
              <h2>Reset Password</h2>
            </div>
          </div>
          <div class="card-body px-lg-5 py-lg-5">
            <div class="text-center text-muted mb-4">
              <p>Enter Email Address Associated with Your CareNett Account</p>

              <form method="post">
                {% csrf_token %}
                {{ form.login.errors | safe }}
                {% render_field form.email placeholder="E-Mail Address" class="form-control mb-3" id="email" name="email" %}
                <input class="btn btn-primary" type="submit" value="Reset Password"/>
              </div>
            </form>
            <div class="row justify-content-center">
              <a href="{% url 'account_login' %}"><p>Back to Login Page</p></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock content %}
