

{% load static %}
{% load crispy_forms_tags %}
{% load widget_tweaks %}

<div  id="doc-sign-modal" uk-modal bg-close="false">
  <div class="uk-modal-dialog"  uk-overflow-auto>
    <button class="uk-modal-close-outside" type="button" uk-close></button>
    <div class="uk-modal-body">
      <div class="text-center">
        <h2 class="uk-modal-title">Nett Hands HR Digital Signature Portal</h2>
        <sub class=".text-muted">Use the Escape Key to Close Window</sub>
      </div>
      <div class="table-responsive">
        <table class="table align-items-center table-flush table-hover">
          <thead class="thead-light">
            <tr>
              <th scope="col" class="sort" data-sort="name">Document</th>

              <th scope="col" class="sort" data-sort="budget">Status</th>
              <th scope="col" class="sort" data-sort="reviewed">Sign</th>
            </tr>
          </thead>
          <tbody>

            <tr>
              <td>
                IDOA Policy
              </td>
              <td>
                {% if request.user.idoa_agency_policies_attestation == "NONE" %}
                  <i class="fa-solid fa-file-circle-exclamation" style="color: #f50000;"></i> <sub>Not Completed</sub>
                {% else %}
                  <i class="fa-solid fa-check" style="color: #008000;"></i> <sub>Completed</sub>
                {% endif %}
              </td>
              <td>
                {% if request.user.idoa_agency_policies_attestation == "NONE" %}
                  <a href="{% url 'idoa_sign' %}" class="btn btn-primary">Sign</a>
                {% else %}
                  <a href="{{ idoa_agency_policies_attestation.url }}" target="_blank"><i class="fa fa-file-pdf-o fa-5x" aria-hidden="true"></i></a>

                {% endif %}
              </td>
            </tr>

            <tr>
              <td>
                HCA to as Family Member Policy
              </td>
              <td>
                {% if request.user.hca_policy_attestation == "NONE" %}
                  <i class="fa-solid fa-file-circle-exclamation" style="color: #f50000;"></i> <sub>Not Completed</sub>
                {% else %}
                  <i class="fa-solid fa-check" style="color: #008000;"></i> <sub>Completed</sub>
                {% endif %}
              </td>
              <td>
                {% if request.user.hca_policy_attestation == "NONE" %}
                  <a href="{% url 'hca_sign' %}" class="btn btn-primary">Sign</a>
                {% else %}
                  <a href="{{ hca_policy_attestation.url }}" target="_blank"><i class="fa fa-file-pdf-o fa-5x" aria-hidden="true"></i></a>
                {% endif %}
              </td>
            </tr>

            <tr>
              <td>
                Home Healthcare Aide(HCA) Job Description
              </td>
              <td>
                {% if request.user.job_duties_attestation == "NONE" %}
                  <i class="fa-solid fa-file-circle-exclamation" style="color: #f50000;"></i> <sub>Not Completed</sub>
                {% else %}
                  <i class="fa-solid fa-check" style="color: #008000;"></i> <sub>Completed</sub>
                {% endif %}
              </td>
              <td>
                {% if request.user.job_duties_attestation == "NONE" %}
                  <a href="{% url 'jobdesc_sign' %}" class="btn btn-primary">Sign</a>
                {% else %}
                  <a href="{{ job_duties_attestation.url }}" target="_blank"><i class="fa fa-file-pdf-o fa-5x" aria-hidden="true"></i></a>
                {% endif %}
              </td>
            </tr>
            <tr>
              <td>IDPH - Healthcare Worker Background Check Authorization	 </td>
              <td>
                {% if request.user.idph_background_check_authorization == "NONE" %}
                  <i class="fa-solid fa-file-circle-exclamation" style="color: #f50000;"></i> <sub>Not Completed</sub>
                {% else %}
                  <i class="fa-solid fa-check" style="color: #008000;"></i> <sub>Completed</sub>
                {% endif %}
              </td>
              <td>
                {% if request.user.idph_background_check_authorization == "NONE"  %}
                  <a href="{% url 'bg_sign' %}" class="btn btn-primary">Sign</a>
                {% else %}
  <a href="{{ request.user.idph_background_check_authorization.url }}" target="_blank"><i class="fa fa-file-pdf-o fa-5x" aria-hidden="true"></i></a>  
{% endif %}
</td>
</tr>
<tr>
<td>
I-9 Wotk Authorization                           </td>
<td>
{% if request.user.dhs_i9 == "NONE" %}
  <i class="fa-solid fa-file-circle-exclamation" style="color: #f50000;"></i> <sub>Not Completed</sub>
{% else %}
  <i class="fa-solid fa-check" style="color: #008000;"></i> <sub>Completed</sub>
{% endif %}
</td>
<td>
{% if request.user.dhs_i9 == "NONE" %}
  <a href="{% url 'i9_sign' %}" class="btn btn-primary">Sign</a>
{% else %}
  <a href={{ dhs_i9.url }} target="_blank"><i class="fa fa-file-pdf-o fa-5x" aria-hidden="true"></i></a>  
                {% endif %}
              </td>
            </tr>
            <tr>
              <td>
                Do Not Drive Policy                           </td>
              <td>
                {% if request.user.do_not_drive_agreement_attestation == "NONE" %}
                  <i class="fa-solid fa-file-circle-exclamation" style="color: #f50000;"></i> <sub>Not Completed</sub>
                {% else %}
                  <i class="fa-solid fa-check" style="color: #008000;"></i> <sub>Completed</sub>
                {% endif %}
              </td>
              <td>
                {% if request.user.do_not_drive_agreement_attestation == "NONE" %}
                  <a href="{% url 'dnd_sign' %}" class="btn btn-primary">Sign</a>
                {% else %}
 <a href="{{ request.user.do_not_drive_agreement_attestation.url }}" target="_blank"><i class="fa fa-file-pdf-o fa-5x" aria-hidden="true"></i></a> 
                {% endif %}
              </td>
            </tr>
            <tr>
              <td>
                W4 - Ferderal Tax Withholding                          </td>
              <td>
                {% if request.user.irs_w4_attestation == "NONE" %}
                  <i class="fa-solid fa-file-circle-exclamation" style="color: #f50000;"></i> <sub>Not Completed</sub>
                {% else %}
                  <i class="fa-solid fa-check" style="color: #008000;"></i> <sub>Completed</sub>
                {% endif %}
              </td>
              <td>
                {% if request.user.irs_w4_attestation == "NONE" %}
                  <a href="{% url 'w4_sign' %}" class="btn btn-primary">Sign</a>
                {% else %}
 <a href="{{ request.user.irs_w4_attestation.url  }}" target="_blank"><i class="fa fa-file-pdf-o fa-5x" aria-hidden="true"></i></a> 
                {% endif %}
              </td>
            </tr>
            <tr>
              <td>
                W4 - State of Illinois Tax Withholding                          </td>
              <td>
                {% if request.user.state_w4_attestation == "NONE" %}
                  <i class="fa-solid fa-file-circle-exclamation" style="color: #f50000;"></i> <sub>Not Completed</sub>
                {% else %}
                  <i class="fa-solid fa-check" style="color: #008000;"></i> <sub>Completed</sub>
                {% endif %}
              </td>
              <td>
                {% if request.user.state_w4_attestation == "NONE" %}
                  <a href="{% url 'il_w4_sign' %}" class="btn btn-primary">Sign</a>
                {% else %}
 <a href="{{ request.user.state_w4_attestation.url }}" target="_blank"><i class="fa fa-file-pdf-o fa-5x" aria-hidden="true"></i></a> 
                {% endif %}
              </td>
            </tr>

          </tbody>
        </table>
      </div>

    </div>
  </div>
</div>
