{% extends "layouts/base.html" %}
{% load static %}
{% block title %} {{ type }} Applicant - {{ submission.last_name }}, {{ submission.first_name }} {% endblock title %}
{% load crispy_forms_tags %}

<link rel="stylesheet" href="{% static '/css/custom-portal-styles.css' %}" type="text/css"/>

{% block content %}
  <div class="col-xl-8 order-xl-1">
    <div class="card">
      <div class="card-header">
        <div class="row align-items-center">
          <div class="col-12">
            <h2 class="mb-0">Applicant Details - {{submission.last_name}}, {{submission.first_name}} {% if submission.hired is not None %} <span class="badge badge-pill badge-info">Reviewed</span></h2> {% endif %} {% if submission.ipdh_registered is True %} <a  target="_blank" href="https://hcwrpub.dph.illinois.gov/SearchResults.aspx?ps=0|{{submission.first_name}}||{{submission.last_name}}" class="badge badge-pill badge-success animate__animated animate__heartBeat animate__infinite">IDPH Registered</a></h2> {% endif %}
          </div>
        </div>
      </div>
      <div class="card-body">
        <div class="row">                                                                                                                                                                                                                    
          <div class="col-6">
            <h3><strong>First Name:</strong></h3>
            <p>{{ submission.first_name }}</p>
          </div>
          <div class="col-6">
            <h3><strong>Last Name:</strong></h3>
            <p>{{ submission.last_name }}</p>
          </div>
        </div>
        <div class="row">
          <div class="col-6"> 
            <h3><strong>Email Address:</strong></h3>
            <p>{{ submission.email }}</p>
          </div>
          <div class="col-6">
            <h3><strong>Contact Number:</strong></h3>
            <p>{{ submission.contact_number }}</p>
          </div>
        </div>
        <div class="row">
          <div class="col-8">
            <h3><strong>Street Address:</strong></h3>
            <p>{{ submission.home_address1 }}</p>
          </div>
          <div class="col-4">
            <h3><strong>Apt/Unit #:</strong></h3>
            <p>{{ submission.home_address2 }}</p>
          </div>
        </div>
        <div class="row">
          <div class="col-5">
            <h3><strong>City:</strong></h3>
            <p>{{ submission.city }}</p>
          </div>
          <div class="col-3">
            <h3><strong>State:</strong></h3>
            <p>{{ submission.state }}</p>
          </div>
          <div class="col-4">
            <h3><strong>Zipcode:</strong></h3>
            <p>{{ submission.zipcode }}</p>
          </div>
        </div>
        <div class="row">
          <div class="col-4">
            <h3><strong>Ability To Travel:</strong></h3>
            {% if submission.mobility == "C" %}
              <p>Personal Vehicle</p>
            {% elif submission.mobility == "P" %}
              <p>Public Transportation</p>
            {% elif submission.mobility == "P" %}
              <p>Rideshare(Uber/Lyft)</p>
            {% else %}
              <p>Other</p>
            {% endif %}
          </div>
          <div class="col-4">
            <h3><strong>Prior Experience:</strong></h3>
            {% if submission.mobility == "S" %}
              <p>12+ Months</p>
            {% elif submission.mobility == "J" %}
              <p>3 - 11 Months</p>
            {% else %}
              <p>No Prior Experience</p>
            {% endif %}
          </div>
          <div class="col-4">
            <h3><strong>Registered IL Healthcare Worker:</strong></h3>
            <p>{{ submission.ipdh_registered }}</p>
          </div>
        </div>
        <div class="row">
          <h1>Availability</h1>
        </div>
        <div class="row">
          <ul class="availability-list">
            {% if submission.availability_monday %}
            <li><p>Monday</p></li>
            {% endif %}
            {% if submission.availability_tuesday %}
            <li><p>Tuesday</p></li>
            {% endif %}
            {% if submission.availability_wednesday %}
            <li><p>Wednesday</p></li>
            {% endif %}
            {% if submission.availability_thursday %}
            <li><p>Thursday</p></li>
            {% endif %}
            {% if submission.availability_friday %}
            <li><p>Friday</p></li>
            {% endif %}
            {% if submission.availability_saturday %}
            <li><p>Saturday</p></li>
            {% endif %}
            {% if submission.availability_sunday %}
            <p>Sunday</p>
            {% endif %}
          </ul>
          </div>
        <div class="row">
          {% if submission.reviewed is True %}
            <div class="col-6">
              <h3><strong> Staff Member Who Reviewed Request:</strong></h3>
              <p>{{ submission.reviewed_by.username }}</p>
            </div>
          {% endif %}
        </div>
        <div class="w-full text-center mb-3">
          {% if submission.hired is None %}
            <button id="mark-reviewed-btn" onclick="confirmHire({{ submission.id }})" class="btn btn-success">Hire</button>
            <button id="mark-reviewed-btn" onclick="confirmRejection({{ submission.id }})" class="btn btn-danger">Reject</button>
          {% endif %}
        </div>
        <div class="w-full text-center">
          <a  class="btn btn-secondary" href="{% url 'applicants-list' %}">Back to Applicant List</a>
        </div>
      </div>
    </div>
  </div>

{% endblock content %}

<!-- Specific JS goes HERE -->
{% block javascripts %}
{% endblock javascripts %}
