{% extends "layouts/base.html" %}

{% block title %} Dashboard {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <!-- Header -->
    <div class="header bg-primary pb-6">
      <div class="container-fluid">
        <div class="header-body">
          <div class="row align-items-center py-4">
            <div class="col-lg-6 col-7">
            <h1 class="display-1 text-white">Announcements</h1>
            </div>
          </div>
        </div>
      </div>
    </div>
          <!-- Card stats -->

    <!-- Page content -->
    {% comment %} {% if announcements %} {% endcomment %}
        <div class="align-content-end">

    {% for announcement in announcements %}
    {% if announcement.status == "A" %}
    {% if announcement.message_type == 'C' %}
 <div class="card  col-12 outline-red">
  <div class="card-header">
    {{ announcement.get_message_type_display }} Announcement
  </div>
  <div class="card-body">
    <h5 class="card-title"><strong>{{ announcement.announcement_title }}</strong> - Posted: {{ announcement.date_posted }}</h5>
    <p class="card-text">{{ announcement.message }}</p>
</div>
   </div>
  {% elif announcement.message_type == 'X' %}
   <div class="card col-12 outline-yellow">
  <div class="card-header">
    {{ announcement.get_message_type_display }} Announcement
  </div>
  <div class="card-body">
    <h5 class="card-title"><strong>{{ announcement.announcement_title }}</strong> - Posted: {{ announcement.date_posted }}</h5>
    <p class="card-text">{{ announcement.message }}</p>
</div>
   </div>
{% elif announcement.message_type == 'T' %}
   <div class="card col-lg-12 outline-blue">
  <div class="card-header">
    {{ announcement.get_message_type_display }} Announcement
  </div>
  <div class="card-body">
    <h5 class="card-title"><strong>{{ announcement.announcement_title }}</strong> - Posted: {{ announcement.date_posted }}</h5>
    <p class="card-text">{{ announcement.message }}</p>
</div>
   </div>
   {% else %}
      <div class="card col-12 outline-black">
  <div class="card-header">
    {{ announcement.get_message_type_display }} Announcement
  </div>
  <div class="card-body">
    <h5 class="card-title"><strong>{{ announcement.announcement_title }}</strong> - Posted: {{ announcement.date_posted }}</h5>
    <p class="card-text">{{ announcement.message }}</p>
</div>
   </div>
{% endif  %}
{% endif %}
{% endfor %}

<div><a href="{% url 'announcements' %}">See More Announcements</a></div>


{% endblock content %}

<!-- Specific JS goes HERE -->
{% block javascripts %}

{% endblock javascripts %}
