{% extends "layouts/base.html" %}

{% block title %} Dashboard {% endblock title %}
{% load recent_announcements %}
<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

          <!-- Card stats -->

    <!-- Page content -->
  <div class="align-content-end">

    {% comment %} {% recent_announcements %} {% endcomment %}

  </div>

  <div class="align-content-end">
    {% include "includes/new_applications_stats.html" %}
  </div>
{% endblock content %}
