{% extends 'layouts/_profile.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% load widget_tweaks %}

{% block title %} Profile - General {% endblock title %}
{% block profile_section %} Employee Profile {% endblock profile_section %}
{% block tab %}
  <li class="nav-item">
    <a id="profile-tab" class="nav-link active" aria-current="page" href="{% url 'profile' %}">Profile</a>
  </li>
  <li class="nav-item">
    <a id="compliance-tab" class="nav-link" href="{% url 'compliance-profile' %}">Compliance</a>
  </li>
{% endblock tab %}
{% block profile_content %}

  {% csrf_token %}
  {% crispy form %}
  <script>
    (function ($) {

      function fix_phone(e){
        const formField = e.target.value
        formField.value = `+1${inputValue}`
      }
      var tele_numbers = $(".tele-number")
      tele_numbers.each(function(elem) {
        elem.addEventListener("change", fix_phone)

        function samecontact(e) {
          if (e.this.value == true){
            $('$id_sms_contact_number').value = $("id_phone")
          }


        });
      }(jQuery));;

  </script>
{% endblock profile_content %}
