{% extends "layouts/base-fullscreen.html" %}
{% load account %}
{% user_display user %}

{% block title %} Login {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <!-- Page content -->
  <div class="container mt--8 pb-5">
    <div class="row justify-content-center">
      <div class="col-lg-5 col-md-7">
        <div class="card bg-secondary shadow border-0">
          <div class="card-header bg-transparent pb-5">
            <div class="text-muted text-center mt-2 mb-3">
              Sign IN
            </div>
          </div>
          <div class="card-body px-lg-5 py-lg-5">
            <div class="text-center text-muted mb-4">

              {% if form.errors %}
                <div id="form-errors">
                  <ul class="form-errors-list">
                    <p class="form-error-header">Please correct the errors below and resubmit...</p>

                    {% for error in form_errors %}
                      <li class="form-error"><i class="fa-solid fa-triangle-exclamation"></i> {{ error }}</li>
                    {% endfor %}
                  </ul>
                </div>
              {% else %}
                <p>
                  Please enter Username and Password Provided by Nett Hands Human Resource
                </p>
              {% endif %}

            </div>
            <form action={% url 'account_login' %} method="post">
              {% csrf_token %}
              <div class="form-group mb-3">
                <div class="input-group input-group-alternative">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fa fa-user"></i></span>
                  </div>
                  {{ form.username }}
                </div>
              </div>
              <div class="form-group">
                <div class="input-group input-group-alternative">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="ni ni-lock-circle-open"></i></span>
                  </div>
                  {{ form.password }}
                </div>
              </div>
              <div class="custom-control custom-control-alternative custom-checkbox">
                {{ form.remember }}
                <span class="text-muted">Remember me?</span>
              </div>

              <div class="text-center">
                <input type="submit" value="Sign In" class="btn btn-primary my-4">
              </div>
            </form>
            <div class="row justify-content-center">

              <a href="{% url 'account_reset_password' %}"<p>Forgot Password?</p>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>

{% endblock content %}

<!-- Specific JS goes HERE -->
{% block javascripts %}{% endblock javascripts %}
