{% extends "layouts/base-fullscreen.html" %}
{% load account %}
{% user_display user %}
{% block title %} Email Verificatiomn Required {% endblock title %}
{% load allauth %}
{% load static %}
{% block content %}

  <div class="container mt--8 pb-5">
    <div class="row justify-content-center">
      <div class="col-lg-5 col-md-7">
        <div class="card bg-secondary shadow border-0">
          <div class="card-header bg-transparent pb-5">
            <div class="text-muted text-center mt-2 mb-3">
              <h2>Verification Needed!</h2>
            </div>
          </div>
          <div class="card-body px-lg-5 py-lg-5">

            <div class="row justify-content-center">
              <h3> Check Your Email</h3>
            </div>
            <div class="row justify-content-center">
              <img src="{% static 'img/email.svg' %}" alt="Letter With Green Check" width="164px" height="auto"/>
            </div>
            <div class="text-center text-muted mb-4">
            </div>
            <p> We have sent an email to you for verification. Follow the link provided to finalize the signup process. If you do not see the verification email in your main inbox, check your spam folder. </p>
            <hr class-"uk-divider-icon"/>
            <p><strong>Please contact us at <a href="tel:17089917105">(708)-991-7105</a> if you do not receive the verification email within a 10 minutes.</p></strong>

            <div class="row justify-content-center">
              <a href="{% url 'account_login' %}"><p>Back to Login Page</p></a>
            </div>
          </div>

        </div>

      </div>
    </div>
  </div>

{% endblock content %}