{% extends "layouts/base.html" %}
{% load static %}
{% block title %} {{ type }} Employee - {{ submission.last_name }}, {{ submission.first_name }} {% endblock title %}
{% load crispy_forms_tags %}
{% load anonymize %}
{% load humanize %}
{% load widget_tweaks %}

{% block content %}

<div class="col-xl-8 order-xl-1">
    <div class="card">
      <div class="card-header">
        <div class="row align-items-center">
          <div class="col-8">
            <h3 class="mb-0">Annoucement Details - {{ annoucement.title }}
            </h3>
          </div>
        </div>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-12 mb-0">
            {% cripy form %}
          </div>
        </div>
      </div>
    </div>
</div>
{% endblock content %}