{% extends "includes/base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block custom_js %}
    <script src="{% static 'js/address_autocomplete.js' %}" defer></script>
{% endblock custom_js %}

<style>
    .frontend-form {
        width: 33.33%;
    }
</style>
{% block title %}
    <title>Nett Hands Home Care - Client Services Inquiry </title>
{% endblock title %}
{% block main %}

    <!-- Breadcrumb Begin -->
    <div class="breadcrumb-option spad set-bg" data-setbg="{% static 'img/breadcrumb-bg.jpg' %}">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="breadcrumb__text">
                        <h2>Client Interest Form</h2>
                        {% if form_errors %}
                            <div id="form-errors">
                                <ul class="form-errors-list">
                                    <p class="form-error-header">"Please correct the errors below and resubmit...</p>
                                    {% if jsonifed %}
                                    {% for error_key, error_value in form_errors.items %}
                                        <li class="form-error"><i class="fa-solid fa-triangle-exclamation"></i> {{ error_key }} : {{ error_value}}</li>
                                    {% endfor %}
                                {% else %}
                                {% for error in form_errors %}
                                    <li class="form-error"><i class="fa-solid fa-triangle-exclamation"></i> {{ error }} </li>
                                {% endfor %}
                        {% endif %}
                        </ul>
                        </div>
                        {% else %}
                            <p>Thank you for your interest in becoming a client with Nett Hands Home Care. <br> Your responses to this form will help us connect you to service that best meet the needs.</p>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Breadcrumb End -->


    <!-- Form Rendering Begins -->
    <section id="interest-form" class="contact spad mx-auto">
        <form id="client_interest_form" class="frontend-form" method="POST">
            {% csrf_token %}
            {% crispy form %}
        </form>
    </section>
    <!-- Form Rendering Ends -->

{% endblock main %}
{% block customscripts %}
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAcVC3cpOlGII6mN-jDumKeUMt8914j-GA&loading=async&callback=initAutocomplete&libraries=places&v=weekly" defer> </script>
    <script defer>
        function openLoader() {
            document.getElementById("btn-submit").style.display = "none";
            document.getElementById("loading-btn-submit").style.display = "block";
        }
    </script>


{% endblock customscripts %}
