{% extends 'includes/base.html' %}
{% block title %}
    <title>Nett Hands Home Care - Successful Submission </title>
{% endblock title %}
{% load static %}

{% block main %}
  <!-- Breadcrumb Begin -->
    <div class="breadcrumb-option spad set-bg" data-setbg="{% static 'img/breadcrumb-bg.jpg' %}">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">

                </div>
            </div>
        </div>
    </div>
    <div class="submission-confirmation">
        <img id='check' src="https://cdn.netthandshome.care/staticfiles/img/success_animated_check.gif" />
        <h1>{{ type }} Submitted!</h1>
        <p>Someone from the central office will contact you within 48 business hours</p>
        <sub class="submission-sub-text">Don't Want to Wait?</sub>
        <p>Give Us A Call at <a href="tel:170899171205">(708) 991-7105</a></p>
    </div>
{% endblock main %}
