{% extends 'includes/base.html' %}

{% load static %}

{% block main %}
  <!-- Breadcrumb Begin -->
    <div class="breadcrumb-option spad set-bg" data-setbg="{% static '/img/breadcrumb-bg.jpg' %}">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">

                </div>
            </div>
        </div>
    </div>
<div class="submission-confirmation">
    <img id='check' src="https://assets.codepen.io/6554302/output-onlinegiftools.gif" />
    <h1>{{type}} Submitted!</h1>
    <p>Someone from the central office will contact you within 48 business hours</p>
    <sub class="submission-sub-text">Don't Want to Wait?</sub>
    <p>Give Us A Call at (708) 991-7105</P>
</div>
{% endblock%}
