{% load static %}


<!-- JQuery Imports -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.13.2/jquery-ui.min.js"></script>

<!-- External scripts -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.5/jquery.validate.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tilt.js/1.0.3/tilt.jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-scroll-lock/3.1.3/jquery-scrollLock.min.js"></script>
<script src="https://kit.fontawesome.com/58e27c88da.js" crossorigin="anonymous" async></script>

<!-- Bootstrap and UIkit scripts -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/uikit@3.17.11/dist/js/uikit.min.js" defer></script>
<script src="https://cdn.jsdelivr.net/npm/uikit@3.17.11/dist/js/uikit-icons.min.js" defer></script>

<!-- jQuery-dependent scripts -->
<script type="module" src="{% static 'js/jquery-loading.js' %}"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/list.js/1.5.0/list.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
<script type="text/javascript" src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
<script type="text/javascript" src="{% static 'vendor/js-cookie/js.cookie.js' %}"></script>
<script type="text/javascript" src="{% static 'js/toast-plugin.js' %}"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slicknav@1.0.8/dist/jquery.slicknav.min.js"></script>
<script type="test/javascript" src="https://nhhc.b-cdn.net/staticfiles/formset/js/django-formset.js" crossorigin="anonymous"></script>
<script src="https://unpkg.com/highlight.run"></script>
<!-- Highlight.io APM Trace and Session Monitoring -->
<script>
    H.init('jdkmrpog', {
        environment: 'production',
        version: 'v:1',
        enablePerformanceRecording: true,
        enableCanvasRecording: true,
        tracingOrigins: true,
        networkRecording: {
            enabled: true,
            recordHeadersAndBody: true,
            urlBlocklist: [

    {% if request.user.is_authenticated %}
    H.identify("{{ request.user.email}}",
    highlightDisplayName: "{{ request.user.last_name }}, {{ request.user.first_name }}",
    {% else %}
    H.identify("anon@anon.com", {
        highlightDisplayName: "User.Anon",
    {%  endif %}

        {% if request.user.is_staff %}
            accountType: "staff",
        {% else %}
            accountType: "standard",
        {% endif %}
        hasUsedFeature: true
    });
</script>

<!-- BetterStack - Uptime  Annoucement Injector  -->
<script src="https://uptime.betterstack.com/widgets/announcement.js" data-id="181789" async="async" type="text/javascript"></script>
<!-- Plugins and libraries -->
<script src="{% static 'js/mixitup.min.js' %}" defer></script>
<script src="https://carenett.s3.us-east-1.amazonaws.com/static/js/owl.carousel.min.js" defer></script>
<script src="https://www.google.com/recaptcha/api.js" defer></script>
<!-- Argon, alerts, and custom scripts -->
<script src="{% static 'js/argon.js' %}" defer></script>
<script src="{% static 'js/pagination.js' %}" defer></script>
<script type="module" src="{% static 'js/main.js' %}" ></script>

 
