
.red {
    color: #ff0000;
}

.green {
    color: #50C878;
}
.form-control:focus {
  box-shadow: none;
}
.former {
  background-color: grey;
  color: rgba(255,255,255,0.3);

}
.form-control-underlined {
  border-width: 0;
  border-bottom-width: 1px;
  border-radius: 0;
  padding-left: 0;
}
form#navbar-search-main {
  z-index: 300;
  position: relative;
  top: -4rem;
}
#toast-node {
  z-index: 500;
}
.my-actions {
  margin: 2em 2em 0;
}

.order-1 {
  order: 1;
}

.order-2 {
  order: 2;
}

.order-3 {
  order: 3;
}

#terminated-notice {
  background-color: rgba(0,0,0,0.8);
  color: red;
  font-size: large;
  font-weight: bolder;
  
}

.right-gap {
  margin-right: auto;
}
.availability-list {
  list-style: none;
}
.outline-red {
  border: 2px solid #ff0000;
  background-color: #ffb6c1;
}
.outline-yellow {
  border: 2px solid #f0ff00;
  background-color: #fdffb6;
}
.outline-blue {
  border: 2px solid #1100ff;
  background-color: #b6c0ff;
}
.outline-black {
  border: 2px solid #111;
  background-color: #d3d3d3;
}
.bg-purple {
  background-color: #6f42c1;

}
.form-text-area {
  width: 100%;
  height: 150px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  resize: none;
}
/* The sidebar menu */
.sidebar {
  height: 100%;
  /* 100% Full-height */
  width: 0;
  /* 0 width - change this with JavaScript */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Stay on top */
  top: 0;
  left: 0;
  background-color: #111;
  /* Black*/
  overflow-x: hidden;
  /* Disable horizontal scroll */
  padding-top: 60px;
  /* Place content 60px from the top */
  transition: 0.5s;
  /* 0.5 second transition effect to slide in the sidebar */
}

/* The sidebar links */
.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidebar a:hover {
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* The button used to open the sidebar */
.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: #111;
  color: white;
  padding: 10px 15px;
  border: none;
}

.openbtn:hover {
  background-color: #444;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  transition: margin-left .5s;
  /* If you want a transition effect */
  padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidebar {
    padding-top: 15px;
  }

  .sidebar a {
    font-size: 18px;
  }
}


/*Horizontal circles as bars loader-3 */

#loader-3 #loader{
	position: absolute;
	width: 2vw;
	height: 2vw;
	background: rgb(211,211,211);
	top:50%;
	left: 50%;
	border-radius: 50%;
    z-index: 1500;
    -webkit-animation: forward 2.3s linear infinite;
    -moz-animation: forward 2.3s linear infinite;
    -o-animation: forward 2.3s linear infinite;
    animation: forward 2.3s linear infinite ;
}

#loader-3 > #loader:nth-of-type(1) {
	-webkit-animation-delay: -0.46s;
	-moz-animation-delay: -0.46s;
	-o-animation-delay: -0.46s;
		animation-delay: -0.46s;
}

#loader-3 > #loader:nth-of-type(2) {
	-webkit-animation-delay: -0.92s;
	-moz-animation-delay: -0.92s;
	-o-animation-delay: -0.92s;
		animation-delay: -0.92s;
}
#loader-3 > #loader:nth-of-type(3) {
	-webkit-animation-delay: -1.38s;
	-moz-animation-delay: -1.38s;
	-o-animation-delay: -1.38s;
		animation-delay: -1.38s;
}
#loader-3 > #loader:nth-of-type(4) {
	-webkit-animation-delay: -1.84s;
	-moz-animation-delay: -1.84s;
	-o-animation-delay: -1.84s;
		animation-delay: -1.84s;
}

/*keyframes for forward animations*/

@-webkit-keyframes forward {
	0% {
		left: 40%;
		opacity: 0;
		background: rgb(75,0,130);
	}
	10% {
		left: 45%;
		opacity: 1;
	}
	90% {
		left: 55%;
		opacity: 1;
	}
	100% {
		left: 62%;
		opacity: 0;
	}
}

@-moz-keyframes forward {
	0% {
		left: 40%;
		opacity: 0;
		background: rgb(75,0,130);
	}
	10% {
		left: 45%;
		opacity: 1;
	}
	90% {
		left: 55%;
		opacity: 1;
	}
	100% {
		left: 62%;
		opacity: 0;
	}
}

@-o-keyframes forward {
	0% {
		left: 40%;
		opacity: 0;
		background: rgb(75,0,130);
	}
	10% {
		left: 45%;
		opacity: 1;
	}
	90% {
		left: 55%;
		opacity: 1;
	}
	100% {
		left: 62%;
		opacity: 0;
	}
}

@keyframes forward {
	0% {
		left: 40%;
		opacity: 0;
		background: rgb(75,0,130);
	}
	10% {
		left: 45%;
		opacity: 1;
	}
	90% {
		left: 55%;
		opacity: 1;
	}
	100% {
		left: 62%;
		opacity: 0;
	}
}
