{% load static %}
{% load crispy_forms_tags %}
{% load widget_tweaks %}

<div  id="new-announcement-modal" uk-modal bg-close="false">
    <div class="uk-modal-dialog"  uk-overflow-auto>
        <button class="uk-modal-close-outside" type="button" uk-close></button>
        <div class="uk-modal-body">
            <h2 class="uk-modal-title">{{ modal_title }}</h2>
            <form method="post" id="new-announcement-form" action="{% url 'announcements' %}">
                {% crispy form %}
                {% csrf_token %}
                {% for txt in text %}
                    <p> {{ txt.content|safe }} </p>
                {% endfor %}
            </form><>
        </div>
    </div>
</div>
